@import "src/styles";

nav {
  background: $white;

  .logo {
    padding: 20px 30px 20px 30px;
    margin: 0;

    img {
      max-height: 60px;
    }
  }

  .btn-social {
    margin-left: 10px;
  }
}
