$primary: rgb(0, 167, 181);
$secondary: rgb(121, 139, 172);
$danger: rgb(249, 113, 85);

// COLOR PALLETE
$color1: #f4f7fb;
$color2: rgb(0, 167, 181);
$color3: rgb(249, 162, 81);
$color4: rgb(121, 139, 172);

$white: white;
$black: black;
